.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.navbar-items {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

body {
    background-color: rgb(199, 229, 154);

}